[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ETASbootstrap"]
	path = ETASbootstrap
	url = https://github.com/cran/ETASbootstrap
